body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orangered;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-size: 40px;
    font-weight: 900;
}
h3{
    font-size: 40px;
    font-weight: 800;
}
.flexible{
    display: flex;
    margin-bottom: 50px;
}
.change-width{
    width: 50%;
    padding-left: 5%;
    margin-bottom: 100px;
}
.change-width img{
    width: 80%;
    padding-right: 100px;
}
.allienment{
    text-align: justify;
    font-weight: 600;
}
.button{
    text-decoration: none;
    color: #000000;
    background-image: linear-gradient(rgb(224, 142, 112), tomato);
    border-radius: 15px;
    padding: 10px 10px;
    margin-right: 5px;
    font-weight: 900;
}
.gap{
    margin-top: 40px;
}
.border{
    border-left: 7px solid;
    border-image: linear-gradient(orangered, rgb(226, 143, 143));
    border-image-slice: 1;
    border-width: 10px;
    padding-left: 5px;
}
.center{
    text-align: center;
}
.blue-color{
    color:navy;
}
.m1{
    width: 50%;
    margin-left: 5%;
    margin-right: 2%%;
    padding: 20px;
    box-shadow: 10px 10px 20px white;
    border-radius: 15px;
    background-color: paleturquoise;
}
.m2{
    width: 50%;
    margin-left: 5%;
    margin-right: 2%;
    padding: 20px;
    box-shadow: 10px 10px 20px white;
    border-radius: 15px;
    background-color: thistle;
}
.m3{
    width: 50%;
    margin-left: 2%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 20px white;
    border-radius: 15px;
    background-color: khaki;
}
.mi img{
    width: 50%;
    padding-left: 5px; 
    padding-right: 5px; 
    margin-bottom: 0px; 
}
h5{
    font-size: 30px;
    font-weight: 700;
}
.mission22{
    margin-bottom: 100px;
}
.third{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.change-width-third{
    width: 50%;
    padding-right: 10%;
    margin-bottom: 100px;
}
.change-width-third img{
    width: 80%;
    height: 120%;
    padding-left: 200px;
}
.height{
    line-height: 25px;
}
.change-width-fourth{
    width: 50%;
    padding-left: 5%;
    margin-bottom: 100px;
}
.change-width-fourth img{
    width: 60%;
    height: 90%;
    padding-right: 250px;
}
.global{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
footer{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: white;
    background-color: black;
}
.fclass{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.change-width-last{
    width: 50%;
    padding-right: 10%;
    margin-bottom: 100px;
}
.change-width-last img{
    width: 80%;
    height: 120%;
    padding-left: 150px;
}